layout_python3
export AUTOMIG_CON=postgresql://postgres@$(make db-host)
# note: these are for local testing only and MUST not be used in prod
export ARB_SALT=307a1fb84d6349bf
# 24-byte AES key
export ARB_CRYPT=ce1b03bc681ecbdb5aa2ad35af297cbb17114cdc30ba0099
