{% macro yesno(name, options=[('yes', "Yes"), ('no', "No")], required=False) %}
  {% for value, label in options %}
    <br>
    <label><input type="radio" name="{{name}}" value={{value}} {{'required' if required}}> {{label}}</label>
  {% endfor %}
{% endmacro %}

{% macro option_warn() %}
  <div class="alert alert-warning"><b>Warning</b>: this is optional and could expose you to extra risk if the counterparty thinks you violated confidentiality</div>
{% endmacro %}

{% macro home_link() %}
<div class="clearfix"><div class="float-right"><a href="{{url_for('core.splash')}}">⚖️ Arbout</a></div></div>
{% endmacro %}

{% macro select_state(states, include_none=False) %}
<select class="form-control" name="state">
  {% if include_none %}<option value="">---</option>{% endif %}
  {% for short, long in states %}<option value="{{short}}">{{short}} - {{long}}</option>{% endfor %}
</select>
{% endmacro %}

{% macro select_issue_cat(categories, include_none=False, required=False) %}
<select class="form-control" name="issue_cat" {{'required' if required}}>
  {% if include_none %}<option value="">---</option>{% endif %}
  {% for cat in categories %}<option value="{{cat.key}}">{{cat.label}}</option>{% endfor %}
</select>
{% endmacro %}
