{% extends "base.jinja.htm" %}
{% block title %}arbitration outcomes{% endblock %}
{% block container %}
<div class="jumbotron">
  <h1>⚖️ Arbout</h1>
  <h2>The public record for private settlements</h2>
  <p>Arbout is a crowd-sourced public database of arbitration outcomes. It aggregates search results to preserve the confidentiality of individual cases.</p>
  <p><a class="btn btn-primary" style="font-size: large" href="{{url_for('core.get_submit')}}">📋 Submit a case</a></p>
  <p><a class="btn btn-primary" style="font-size: large" href="{{url_for('core.get_search')}}">🔎 Search our database</a></p>
</div>
<div class="card"><div class="card-body">
  <h3>What is arbitration?</h3>
  <p>Arbitration is an alternative to suing in court.</p>
  <p>Unlike the court system, the arbitration system is run by private companies and doesn't enter its outcomes into the public record. Furthermore, some arbitration is confidential by design, which can shield the parties from the reputational risk of disputes, at the cost of leaving lawmakers and the public in the dark.</p>
  <p>Arbitration is increasingly relevant because many online services include binding arbitration clauses. These clauses can force customers to use arbitration rather than going to court.</p>
</div></div>
<br>
<div class="card"><div class="card-body">
  <h3>How does Arbout work with confidential arbitration?</h3>
  <p>Arbout doesn't reveal the individual contents of any arbitration, and tries to make it difficult to prove that the database contains any individual case. It uses a simplified version of <a href="https://en.wikipedia.org/wiki/Differential_privacy">differential privacy</a> to only reveal information when many cases have similar outcomes.</p>
  <p>For example, if a company paid a $1000-$1999 settlement in 50 cases, Arbout would reveal that in aggregate. But we wouldn't show the individual amounts or cases.</p>
</div></div>
<br>
<div class="card"><div class="card-body">
  <h3>How do I dispute the information in this database?</h3>
  <p>We have a <a href="{{url_for('core.disputes')}}">dispute process</a>. We're committed to working with arbitration parties and agencies to correct errors.</p>
</div></div>
<br>
<div class="card"><div class="card-body">
  <h3>Who made this and how does it work?</h3>
  <p>Arbout is open source and you can learn about the project's internals and authorship in the <a href="https://github.com/abe-winter/arbout">Arbout github repo</a>.</p>
</div></div>
<br>
<p>©️ 2020 Arbout development team</p>
{% endblock container %}
