<div class="container">
  <h2>Submit a new case</h2>
  <form>
    <h3>Counterparty</h3>
    <div class="text-muted">Who was the dispute with</div>
    <h3>Dispute</h3>
    <div>Who initiated <input required></div>
    <div>issue category <select required></select></div>
    <div>detailed issue text. product name etc. this will only be public if a lot of other people had the same problem</div>
    <h3>Outcome</h3>
    <div>sought dollars</div>
    <div>received dollars</div>
    <div>In your favor <input required></div>
    <div>In your subjective opinion, was it fair</div>
    <h3>Timing</h3>
    <div>Date of incident (or beginning)</div>
    <div>Date you raised a dispute with the counterparty</div>
    <div>Date
    <h3>Case details</h3>
    <div>Agency</div>
    <div>state</div>
    <div>choose agency</div>
    <div>Case ID (with explainer)</div>
    <h3>Your details</h3>
    <div>username or email</div>
    <div>password with 'edit later' explanation</div>
  </form>
</div>
